[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyswip = {ref = "master", git = "https://github.com/yuce/pyswip"}
pytest = "*"
"azure.functions" = "*"
functions-framework = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
