-i https://pypi.org/simple
azure.functions==1.20.0
exceptiongroup==1.2.2 ; python_version < '3.11'
iniconfig==2.0.0 ; python_version >= '3.7'
packaging==24.1 ; python_version >= '3.8'
pluggy==1.5.0 ; python_version >= '3.8'
git+https://github.com/yuce/pyswip@master#egg=pyswip
pytest==8.3.2
tomli==2.0.1 ; python_version < '3.11'
